.product-card {
    margin-bottom: 16px;
    border-radius: 6px;
    border: 2px solid #bcaa78;
    background-color: #faf7ed;
  }
  
  .product-card .ant-card-head {
    background-color: #d8c99a !important;
    border-radius: 6px 6px 0 0;
    border-bottom: 2px solid #bcaa78;
    text-align: left;
  }
  
  .product-card .ant-card-head-title {
    padding: 12px 0;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
  }
  
  .product-card .ant-card-head-title h3.ant-typography {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #5c4d2e;
    text-align: left;
  }
  
  .product-card .ant-card-extra .primary-button {
    background-color: #8e7840;
    border-color: #5c4d2e;
  }
  
  .product-card .ant-card-extra .primary-button:hover {
    background-color: #5c4d2e;
    border-color: #5c4d2e;
  }
  
  .product-card .ant-card-body {
    padding: 16px;
  }
  
  .product-info {
    border-right: 1px dashed #bcaa78;
    padding-right: 16px;
    height: 100%;
  }
  
  .product-info .product-descriptor {
    margin-bottom: 8px;
    display: block;
    font-size: 15px;
  }
  
  .product-info .product-version {
    margin-bottom: 8px;
  }
  
  .product-info .product-box {
    margin-bottom: 8px;
    font-weight: 500;
  }
  
  .product-info .product-items {
    color: #8e7840;
    font-weight: 600;
    font-size: 16px;
  }
  
  .stock-summary {
    background-color: #f3edd8;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 12px;
    display: inline-block;
    font-weight: bold;
    border: 1px solid #bcaa78;
  }
  
  .mobile-button {
    display: none;
  }
  
  @media (max-width: 868px) {
    .product-card .ant-card-head {
      flex-direction: column;
      align-items: center;
    }

    .pc-button {
      display: none;
    }
  
    .product-card .ant-card-head-title {
      text-align: center;
    }
  
    .product-card .ant-card-head-title h4.ant-typography {
      font-size: 16px !important;
    }
  
    .product-card .ant-card-extra {
      display: none;
    }
  
    .mobile-button {
      display: block;
      width: 100%;
      margin-top: 10px;
    }
  
    .mobile-button .primary-button {
      width: 100%;
      background-color: #8e7840;
      border-color: #5c4d2e;
      color: white;
      font-weight: 600;
      height: 40px;
    }
  
    .mobile-button .primary-button:hover {
      background-color: #5c4d2e;
      border-color: #5c4d2e;
    }
  }
  